@model List<laboratorio6.Models.PeliculaModelo>

@{
    ViewData["Title"] = "Películas";
}

<h1><@ViewBag.MainTitle</h1>

<div>
    <a href="@Url.Action("CrearPelicula", "Peliculas")"
    class="btn btn-success"> Crear Película </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Año</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Año</td>
                    <td>
                        @Html.ActionLink("Editar", "EditarPelicula",
                        new {identificador = item.Id},
                        new {@class = "btn btn alert-info",
                        @onclick = "return confirm('Desea editar esta pelicula?')"})
                    </td>
                    <td>
                        @Html.ActionLink("Borrar", "BorrarPelicula",
                        new {identificador = item.Id},
                        new {@class = "btn btn alert-danger",
                        @onclick = "return confirm('Desea borrar esta pelicula?')"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h6> Josué Retana Rodríguez</h6>
