@*
    Index of app: shows list of schools and admin. options
*@

@model List<app.Models.SchoolModel>

@{
    ViewData["Title"] = "School";
}

<h1><@ViewBag.MainTitle</h1>

<div>
    <h1 class="p-4">List of Schools</h1>
    <table class="table table-striped table-bordered table-rounded p-4">
        <thead class="table-dark">
            <tr>
                <th class="wrap">Id</th>
                <th class="wrap">Nombre</th>
                <th class="wrap">Provincia</th>
                <th class="wrap">Estado</th>
                <th class="wrap">Cant. Aulas</th>
                <th class="wrap">Es publica?</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Provincia</td>
                    <td>@item.Estado</td>
                    <td class="text-center">@item.NumeroAulas</td>
                    <td>@item.EsPublica</td>
                    <td>
                        <a href="@Url.Action("EditarSchool", new { identificador = item.Id })" class="btn btn-info">Edit</a>
                    </td>
                    <td>
                        <a href="@Url.Action("BorrarSchool", new { identificador = item.Id })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
