@model laboratorio6.Models.PeliculaModelo
@{
    ViewBag.Title = "Borrar Pelicula";
}
<html>
<head>
</head>
<body>
    @using (Html.BeginForm("BorrarPelicula", "peliculas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h1>Formulario de borrar una película</h1>
        @Html.HiddenFor(model=>model.Id)
        // OJO ESTO SE AGREGO
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Año)
                @Html.TextBoxFor(model => model.Año, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Año, "", new { @class = "text-danger"})
            </div>
            <input type="submit" class="btn btn-success" value="Borrar" />
        </div>
    }
    <h6> Josué Retana Rodríguez</h6>

</body>
</html>